{
  "extends": "standard-react",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "15.0"
    }
  },
  "rules": {
    "semi": "error",
    "eqeqeq": "error"
  }
}
