.story {
  text-transform: none;
}

.attendants {
  .attendant {
    width: 50%;

    .profile-picture {
      height: 20vw;
      width: 20vw;
      margin: auto;
    }

    h3 {
      padding-top: 2vw;
    }
  }

  .story {
    padding: 1vw;
    p { margin-bottom: 2vw; }
  }

  :nth-child(even) {
    .attendant {
      float: right;
      margin-left: 5vw;
    }

    .story {
      h4, p { text-align: right; }
    }

    .small-flourish { transform: rotate(180deg); }
  }

  :nth-child(odd) {
    .attendant {
      float: left;
      margin-right: 5vw;
    }

    .story {
      h4, p { text-align: left; }
    }
  }

  @include breakpoint-md {
    :nth-child(odd), :nth-child(even) {
      .attendant {
        float: none;
        margin: auto;
      }

      .story {
        h4, p { text-align: center; }
      };
    }
  }
}

.spouses {
  .spouse {
    .profile-picture {
      height: 25vw;
      width: 25vw;
      margin-top: 0;
    }

    &:first-of-type { float: left; }
    &:last-of-type { float: right; }
  }

  .story {
    padding: 1.5rem;
    text-align: center;
    clear: both;
  }

  @include breakpoint-md {
    .spouse {
      .profile-picture {
        height: 35vw;
        width: 35vw;
      }

      h3 { font-size: 1rem; }
    }

    .story { clear: both; }
  }

  @include breakpoint-sm {
    h3 { display: none; }
  }
}
