.story {
  text-transform: none;
}

.attendants {
  .attendant {
    width: 50%;
    box-sizing: border-box;

    .profile-picture {
      @include square(20vw);
      margin: auto;

      @include breakpoint-md { @include square(25vw); }
      @include breakpoint-sm { @include square(35vw); }
    }

    h3 {
      padding-top: 2vw;
    }
  }

  .story {
    padding: 1vw;
    width: 50%;
    box-sizing: border-box;

    p { margin-bottom: 2vw; }
    @include breakpoint-md { width: 100%; }
  }

  :nth-child(even) {
    .attendant { float: right; }

    .story {
      float: left;
      h4, p { text-align: right; }
    }

    .small-flourish { transform: rotate(180deg); }
  }

  :nth-child(odd) {
    .attendant { float: left; }

    .story {
      float: right;
      h4, p { text-align: left; }
    }
  }

  @include breakpoint-md {
    :nth-child(odd), :nth-child(even) {
      .attendant {
        float: none;
        margin: auto;
      }

      .story {
        h4, p { text-align: center; }
      };
    }
  }
}

.spouses {
  .spouse {
    width: 50%;

    .profile-picture {
      @include square(25vw);
      margin: auto;
    }

    &:first-of-type { float: left; }
    &:last-of-type { float: right; }
  }

  .story {
    padding: 1.5rem;
    text-align: center;
    clear: both;
  }

  @include breakpoint-md {
    .spouse {
      .profile-picture { @include square(35vw); }
    }

    .story { clear: both; }
  }
}
