.spouses {
  .spouse {
    .profile-picture {
      height: 25vw;
      width: 25vw;
      margin-top: 0;
    }

    &:first-of-type { float: left; }
    &:last-of-type { float: right; }
  }

  .story {
    padding: 1.5rem;
    text-align: center;
    text-transform: none;
  }

  @include breakpoint-md {
    .spouse {
      .profile-picture {
        height: 35vw;
        width: 35vw;
      }

      h3 { font-size: 1rem; }
    }

    .story { clear: both; }
  }

  @include breakpoint-sm {
    h3 { display: none; }
  }
}
