@mixin splash-navigation($navigation) {
  $navigation-height: 2.5rem !default;
  @if not $navigation { $navigation-height: 0px; }

  .splash-content, .splash-image {
    height: calc( 100vh - #{$navigation-height} );
    min-height: 325px;
    width: 100vw;
  }
  
  .navigation {
    height: $navigation-height;
    line-height: $navigation-height;
    background-color: $background-color;

    @if not $navigation { display: none; }
  }  
}

@include splash-navigation(true);
@include breakpoint-sm {
  @include splash-navigation(false);
}

.navigation {
  > li {
    display: inline-block;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
  }

  position: sticky;
  top: 0;
  margin: 0;  

  .current {
    color: $secondary-color;
    font-size: 1.2em;
  }
}

