.profile-picture {
  position: relative;

  .react-parallax-background-children,
  .react-parallax-content { width: 100%; height: 100%; }

  .profile-image {
    @include background-fill;
    @include absolute-fill;
    height: 150%;
  }

  .profile-border {
    background-image: url('/assets/profile-overlay.png');
    @include background-fill;
    @include absolute-fill;
  }
}
