$background-color: #21303d;
$primary-color: #f5edd3;
$secondary-color: #cc9389;
$transparent: rgba(0, 0, 0, 0);

@mixin overlay {
  @include absolute-fill;
  top: 0;
}

@mixin background-fill {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin absolute-fill {
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin breakpoint-md {
  @media only screen and (max-width: 768px) { @content };
}

@mixin breakpoint-sm {
  @media only screen and (max-width: 400px) { @content };
}
