.large-flourish, .small-flourish {
  clear: both;
  @include background-fill(contain);
}

.large-flourish {
  background-image: url('/assets/large-flourish.png');
  height: 15vh;
  margin-top: 2.5rem;
}

.small-flourish {
  background-image: url('/assets/small-flourish.png');
  height: 7vh;
  margin-bottom: .5rem;
}
