[class^='col'] {
  margin: 0.5em 0;
}

.app {
  .grid.fixed-center {
    @include breakpoint-lg {
      max-width: 1200px;
      // sass-lint:disable no-important
      margin: auto;
      // sass-lint:enable no-important
    }
  }
}

//
// Fix weird behavior of react-material-responsive grid
// Out of the box it does not reverse offsets - they still
// push from the left even if the row is reversed
//
.reverse {
  @mixin offset-fix($sizes, $columns) {
    @each $size in $sizes {
      @for $i from 0 to $columns {
        .col-#{$size}-offset-#{$i} {
          margin-left: 0;
          margin-right: $i * 100% / $columns;
        }
      }
    }
  }

  @include offset-fix(xs4, 4);
  @include offset-fix(xs8 xs, 8);
  @include breakpoint-sm {
    @include offset-fix(sm8, 8);
    @include offset-fix(sm12 sm, 12);
  }
  @include breakpoint-md {
    @include offset-fix(md12 md, 12);
  }
  @include breakpoint-lg {
    @include offset-fix(lg12 lg, 12);
  }
  @include breakpoint-xl {
    @include offset-fix(xl12 xl, 12);
  }
}
