@mixin splash-navigation($navigation) {
  $navigation-height: 2.5rem !default;
  // sass-lint:disable zero-unit
  @if not $navigation { $navigation-height: 0px; }
  // sass-lint:enable zero-unit

  .splash-content, .splash-image {
    height: 100vh;
    min-height: 325px;
    width: 100vw;

    .show-navigation & {
      height: calc(100vh - #{$navigation-height});
    }
  }

  .navigation {
    height: $navigation-height;
    line-height: $navigation-height;
    background-color: $background-color;

    @if not $navigation { display: none; }
  }
}

@include splash-navigation(true);
@include breakpoint-sm {
  @include splash-navigation(false);
}

.navigation {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 10;

  > li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;

    &.current {
      color: $secondary-color;
      font-size: 1.2em;
    }
  }
}

