@import 'sections/stories';
@import 'sections/event';
@import 'sections/gifts';

.sections {
  margin: 0 15vw;

  @include breakpoint-md {
    margin: 0;
  }
}

.section-h2 {
  padding-top: 2.5rem;
}
