.splash-image {
  @include background-fill;

  filter: blur(3px);
  transform: scale(1.05);

  background-image: url('/assets/splash-image.jpg');
}

.splash-overlay {
  @include overlay;

  background: linear-gradient(
    $background-color,
    transparentize($background-color, .25) 25%,
    $transparent 50%
  );
}

.splash-content {
  .bottom {
    position: absolute;
    bottom: 1vh;
    width: 100%;

    @include breakpoint-sm {
      bottom: 5vh;
    }
  }
}

@media only screen and (max-height: 450px) {
  .splash-content {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1rem; }
  }
}
