@import 'styles/reset';
@import 'styles/common';
@import 'styles/embellishments';
@import 'styles/navigation';
@import 'styles/profiles';
@import 'styles/splash';
@import 'styles/text';

@import 'styles/sections';

body {
  color: $primary-color;
  background-color: $background-color;
}

@include breakpoint-md {
  .block-md {
    display: block;
  }
}
