@import 'styles/_reset';
@import 'styles/_common';
@import 'styles/_embellishments';
@import 'styles/_navigation';
@import 'styles/_profiles';
@import 'styles/_splash';
@import 'styles/_text';

@import 'styles/_sections';

body {
  color: $primary-color;
  background-color: $background-color;
}

@include breakpoint-md {
  .block-md {
    display: block;
  }
}
